* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
  }
  
  html {
    height: 100%;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;;
    font-size: 16px;
  }
  
  body {
    background-color: #444;
    height: 100%;
  }
  
  #main {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin: 0 auto;
    height: 100%;
    max-width: 1440px;
  }
  
  nav {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    align-items: center;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    height: 4rem;
    color: #eee;
    border-bottom: 1px solid #766;
    background-color: #777;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
  }
  
  nav h1 {
    flex-grow: 1;
    text-align: center;
    font-weight: 400;
    letter-spacing: 1px;
  }
  
  main {
    display: flex;
    flex-direction: row;
    height: 100%;
  }
  
  #map-wrapper {
    width: 40%;
    background-color: #aae;
  }
  
  #chart-wrapper {
    display: flex;
    width: 60%;
    flex-direction: column;
    background-color: #eee;
  }

  #map {
    width: 100%;
    height: 100%;
    z-index: 10;
  }

  #scroll-info {
    display: none;
    color: #eee;
    background-color: #777;
  }

  #chart {
    flex: 0 0 auto;
    width: calc(100% - 4rem);
    height: calc(40% - 4rem);
    margin: 2rem;
  }

  #chart2 {
    flex: 0 0 auto;
    width: calc(100% - 4rem);
    height: calc(60% - 8rem);
    margin: 2rem;
  }

  #municipality-select {
    border-top: 1px solid #ccc;
    padding-top: 1rem;
    margin: 0 2rem;
  }

  #municipality-select label {
    margin-right: 1rem;
  }

  #municipality-select select {
    width: 16rem;
    height: 2rem;
  }

  .legend {
    padding: 6px 8px;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    line-height: 24px;
    color: #555;
  }
  .legend h4 {
    text-align: center;
    margin: 2px 12px 8px;
    color: #777;
  }
  
  .legend span {
    position: relative;
    bottom: 3px;
  }
  
  .legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin: 0 8px 0 0;
    opacity: 0.7;
  }

  .legend label {
    margin-left: 0.5rem;
    vertical-align: top;
  }

  .legend .checkbox-row {
    margin-top: 0.5rem;
  }

  @media screen and (max-width: 768px) {
    #main {
      display: flex;
      flex-direction: column;
      height: auto;
      width: 100%;
      max-width: 100%;
    }

    main {
      flex-direction: column;
      width: 100%;
    }
  
    #map-wrapper {
      width: 100%;
    }

    #chart-wrapper {
      width: 100%;
    }

    #map {
      min-height: calc(100vh - 8rem);
    }

    #scroll-info {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 4rem;
    }

    #chart {
      min-height: calc(40vh - 4rem);
      margin: 1rem;
    }

    #chart2 {
      min-height: calc(60vh - 4rem);
      margin: 1rem;
    }

    #municipality-select label {
      font-size: 0.8rem;
      margin-right: 0.8rem;
    }
  
    #municipality-select select {
      width: 12rem;
    }
  }